﻿@model Park2FlyAdminApp.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalii</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buletin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buletin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CNP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CNP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresaID)
        </dt>

        <dd>
            @CustomHelpers.DisplayHelper.DisplayAdresa(Model.AdresaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

    </dl>
</div>
<p> 
    <a href="javascript:history.back()">Inapoi la lista</a>
</p>
