﻿@model IEnumerable<Park2FlyAdminApp.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista clienti</h2>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Buletin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Buletin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
          @CustomHelpers.DisplayHelper.DisplayAdresa(item.AdresaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalii", "Details", new { id=item.ID }) |
            @Html.ActionLink("Stergere", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
