﻿@model Park2FlyAdminApp.Models.Firma

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeCompanie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeCompanie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cont)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cont)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.J)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.J)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresaID)
        </dt>

        <dd>
            @CustomHelpers.DisplayHelper.DisplayAdresa(Model.AdresaID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript:history.back()">Inapoi la lista</a>
</p>
