﻿@model IEnumerable<Park2FlyAdminApp.Models.Firma>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista firme</h2>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumeCompanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cont)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CUI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdresaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeCompanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cont)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CUI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J)
        </td>
        <td>
            @CustomHelpers.DisplayHelper.DisplayAdresa(item.AdresaID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Detalii", "Details", new { id = item.ID }) |
            @Html.ActionLink("Stergere", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
