﻿@model IEnumerable<Park2FlyAdminApp.Models.Locatie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista locatii</h2>

<p>
    @Html.ActionLink("Adaugare locatie noua", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalii", "Details", new { id=item.ID }) |
            @Html.ActionLink("Stergere", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
