﻿@model Park2FlyAdminApp.Models.Adresa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Adresa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localitate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localitate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bloc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scara)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scara)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Etaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Etaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apartament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apartament)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Judet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Judet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    <a href="javascript:history.back()">Inapoi la lista</a>
</p>
