﻿@model IEnumerable<Park2FlyAdminApp.Models.Masina>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Lista masini</h2>
 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NrInmatriculare)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrInmatriculare)
            </td>
          
                
        </tr>
    }

    <a href="javascript:history.back()">Inapoi la contracte</a>
</table>
