﻿@model IEnumerable<Park2FlyAdminApp.Models.Client>
<div class="modal-body">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Selectare client</h4>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-2" for="client_Telefon">Nume,Telefon</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" onkeyup="searchFunc()" class="form-control" id="nameInput" type="text" value="">
            </div>
        </div>
        <br />

        <table class="table" id="clientiTable">
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumeClient)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefon)
                </th>
           
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                 
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    <input type="button" onclick="selectClient(@item.ID,'@item.NumeClient', '@item.Telefon.ToString()')" value="@item.NumeClient" />
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>

            </tr>
    }

        </table>
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="    margin-top: 15px; margin-bottom: 15px;">

                <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>

            </div>
        </div>
    </div>

</div>

<script>
    function selectClient(id,nume,telefon) {
        // Support IE6-8
      
        $('#IDClientH').val(id);
        $('#client_Telefon').val(telefon);
        $('#NumeClientH').val(null);

        $('#ClientSelectat').html(nume);
        $('#ClientSelectatBut').show();
        $('#modal-container').modal('hide');
    }
function searchFunc() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("nameInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("clientiTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
      tdNume = tr[i].getElementsByTagName("td")[1];
      tdTel = tr[i].getElementsByTagName("td")[2];
      if (tdNume) {
        if (tdNume.innerHTML.toUpperCase().indexOf(filter) > -1 || tdTel.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
