﻿@model Park2FlyAdminApp.Models.Contract

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<h2>Contract nou</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
               <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">



            @Html.LabelFor(model => model.ClientID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="btn btn-danger" style="display: none;" id="ClientSelectatBut" onclick="stergeClient()">Stergere Client [<span id="ClientSelectat"></span>]</span>
                @Html.ActionLink("Client nou ", "ViewClientNou", "Contract", null, new { @class = "modal-link btn btn-success" })
                @Html.ActionLink("Selectare client ", "ViewSelectareClient", "Contract", null, new { @class = "modal-link btn btn-warning" })
                @if (Model.client != null)
                {
                    @Html.DisplayFor(model => model.client.NumeClient)
                }

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirmaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                  <span class="btn btn-danger" style="display: none;"  id="FirmaSelectataBut" onclick="stergeFirma()">
                Stergere Companie [<span id="FirmaSelectata"></span>]
                  </span>

                @Html.ActionLink("Companie noua ", "ViewFirmaNoua", "Contract", null, new { @class = "modal-link btn btn-success" })
                @Html.ActionLink("Selectare companie ", "ViewSelectFirma", "Contract", null, new { @class = "modal-link btn btn-warning" })

                @*@Html.DropDownList("FirmaID", new SelectList((List<Park2FlyAdminApp.Models.Client>)ViewData["listaClienti"], "ID", "NumeClient"), "Client", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LocatieID, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.client.Telefon, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.client.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.client.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />


        <div class="form-group">
            @Html.LabelFor(model => model.DataStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataStart, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.TimpStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimpStart, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFinal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataFinal, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.TimpFinal, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimpFinal, "", new { @class = "text-danger" })

            </div>
        </div>
        <hr />
        <div class="form-group">

            <label class="control-label col-md-2"> Mașină </label>
            <div class="col-md-10">
                <input type="button" onclick="AddTextBox()" value="Adauga" class="btn btn-default" />
                <div id="divMasini">

                    <div id="masina_entry" class="control-masini-entry">
                        <input name="marcaMasina" class="control-masini" placeholder="Marca" data-val="true" data-val-required="The Marca field is required." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="marcaMasina" data-valmsg-replace="true"></span>

                        <input type="text" name="modelMasina" class="control-masini" placeholder="Model" data-val="true" data-val-required="The Model field is required." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="modelMasina" data-valmsg-replace="true"></span>

                        <input type="text" name="numarMasina" class="control-masini" placeholder="Numar Inmatriculare" data-val="true" data-val-required="The NrIntamatriculare field is required." />
                        <span class="field-validation-valid text-danger" data-valmsg-for="numarMasina" data-valmsg-replace="true"></span>

                        <input type='button' onclick='RemoveTextBox(this)' value='Remove' class='btn btn -default' />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Pret, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-2">
                @Html.EditorFor(model => model.Pret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pret, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
              
            </div>
            <div class="col-md-7"></div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.LocatieID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocatieID", new SelectList((List<Park2FlyAdminApp.Models.Locatie>)ViewData["listaLocatii"], "ID", "Nume"), "Locatie", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocatieID, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="frmSbmt()" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <input type="hidden" id="IDClientH" name="IDClient" />
    <input type="hidden" id="NumeClientH" name="NumeClient" />
    <input type="hidden" id="BuletinH" name="Buletin" />
    <input type="hidden" id="CNPH" name="CNP" />
    <input type="hidden" id="EmailH" name="Email" />
    <input type="hidden" id="TelefonH" name="Telefon" />

    <input type="hidden" id="LocalitateHC" name="Localitate" />
    <input type="hidden" id="StradaHC" name="Strada" />
    <input type="hidden" id="NumarHC" name="Numar" />
    <input type="hidden" id="BlocHC" name="Bloc" />
    <input type="hidden" id="ScaraHC" name="Scara" />
    <input type="hidden" id="EtajHC" name="Etaj" />
    <input type="hidden" id="ApartamentHC" name="Apartament" />
    <input type="hidden" id="JudetHC" name="Judet" />


    <input type="hidden" id="IDFirmaH" name="IDFirma" />
    <input type="hidden" id="NumeFirmaH" name="NumeFirma" />
    <input type="hidden" id="ContH" name="Cont" />
    <input type="hidden" id="JH" name="J" />
    <input type="hidden" id="CUIH" name="CUI" />

    <input type="hidden" id="LocalitateHF" name="LocalitateF" />
    <input type="hidden" id="StradaHF" name="StradaF" />
    <input type="hidden" id="NumarHF" name="NumarF" />
    <input type="hidden" id="BlocHF" name="BlocF" />
    <input type="hidden" id="ScaraHF" name="ScaraF" />
    <input type="hidden" id="EtajHF" name="EtajF" />
    <input type="hidden" id="ApartamentHF" name="ApartamentF" />
    <input type="hidden" id="JudetHF" name="JudetF" />


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {

    <script type="text/javascript">


        function frmSbmt() {
            var form = $("#createForm");
            form.validate();
            var idClient = document.getElementById("IDClientH").value;
            var numeClient = document.getElementById("NumeClientH").value;
            if (idClient == "" && numeClient == "") alert("Date Client incorecte");
            else if (form.valid()) {
                form.submit();
            }
            else alert("Date Contract incorecte");
        }
        function stergeClient() {

            $('#IDClientH').val("");
            $('#NumeClientH').val("");
            $('#client_Telefon').val("");
            $('#ClientSelectatBut').hide();

        }
        function stergeFirma() {

            $('#IDFirmaH').val("");
            $('#NumeFirmaH').val("");
            $('#FirmaSelectataBut').hide();

        }
        function AddTextBox() {

            var div = document.createElement('DIV');
            var div_masina = document.getElementById("masina_entry");
            //var inpu = document.getElementById("hfield");
            //inpu.innerText = "merge, bre!";

            div.innerHTML = div_masina.innerHTML
            div.className = "control-masini-entry"
            div.id = "masina_entry"
            document.getElementById("divMasini").appendChild(div);

        }

        function DisplayPersoanaFizica() {
            var divPF = document.getElementById("divPF")
            var divPJ = document.getElementById("divPJ")

            divPF.style.display = 'inline'
            divPJ.style.display = 'none'

        }
        function DisplayPersoanaJuridica() {
            var divPF = document.getElementById("divPF")
            var divPJ = document.getElementById("divPJ")

            divPF.style.display = 'none'
            divPJ.style.display = 'inline'

        }
        function RemoveTextBox(div) {
            var divMasini = document.getElementById("divMasini")
            if (divMasini.childElementCount > 1)
                divMasini.removeChild(div.parentNode);

        }

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
