﻿@model IEnumerable<Park2FlyAdminApp.Models.Contract>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista contracte</h2>

<p>
    @Html.ActionLink("Adauga contract nou", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DataStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocatieID)
        </th>

        <th>
            Client
        </th>
        <th>
            Companie
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @item.DataStart
        </td>
        <td>

            @item.DataFinal
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pret)
        </td>
        <td>
            @CustomHelpers.DisplayHelper.DisplayLocatie(item.LocatieID)
        </td>
        <td>
            @CustomHelpers.DisplayHelper.DisplayClient(item.ClientID)
        </td>
        <td>
            @CustomHelpers.DisplayHelper.DisplayFirma(item.FirmaID)
        </td>
        <td>  @Html.ActionLink("Lista masini", "Contract", "Masina", new { id = item.ID }, null) </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
